.footer__column-link {
  text-decoration: none;
  color: #f2f2f2;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  transition: opacity 0.5s;
}

.footer__column-link:hover {
  color: #2f80ed;
  opacity: 0.5;
}
